:root {
    --bg: #1b1e2b;
    --section-bg: #292D3E;
    --accent: #f07178;
    --font-color: #757CA1;
    --section-font-color: #A6ACCD;
    --link-color: #6d9deb;
    --font-family: Calibri;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

#resume {
    background-color: var(--bg);
    color: var(--font-color);
    margin: auto;
    /* comment width and height at the end */
    /* width of A4 */
    width: 210mm;
    /* height of letter */
    height: 279.4mm;
    overflow: auto;
    font-family: var(--font-family);
}


header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
    padding: 5px;
    font-weight: 700;
}

#profile-pic {
    height: 136px;
    width: 136px;
    /* margin: auto; */
    /* try commenting this */
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#info {
    margin: auto;
    padding: 15px 0 10px 0;
}

#name {

    color: rgb(37, 170, 242);
    font-family: "Helvetica Neue";
    font-size: 32px;
    text-decoration-color: rgb(37, 170, 242);
    text-decoration-line: none;
    text-decoration-style: solid;
}

#job-title,
#contacts {
    color: var(--section-font-color);
    font-family: Raleway;
    padding: 5px;
}

#job-title {
    font-size: 17px;
}


#contacts {
    font-weight: 600;
}


ul {
    list-style-type: none;
}

#contacts li {
    display: inline;
}

img {
    vertical-align: bottom;
}

a {
    color: var(--link-color);
    text-decoration-color: var(--link-color);
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-decoration-style: solid;
    font-size: 100%;
}

section {
    background-color: var(--section-bg);
    color: var(--section-font-color);
    width: fit-content;
    /* for firefox */
    width: -moz-fit-content;
    margin: 0.5rem;
    padding: 0.4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

section .section-title {
    color: var(--accent);
    font-family: "Helvetica Neue";
    vertical-align: middle;

}

/* .hidden{
    visibility: hidden;
} */




/* p.date {
    /* date. from. to
} */
/* 
p.city {
    /* country 
} */

/* change the margins as you want them to be. */
/* gotta find a way to reconcoile between page size A4 and letter */
/* might use javascript */
@media print {
    body {
        /* uncomment at the end */
        background-color: var(--bg);
    }
}

/* @page {
    /* margin: 0; 

} */

/* this removes the page size option from chrome */



/* 
#mail{
    list-style-image: url("https://img.icons8.com/windows/16/A6ACCD/gmail.png");
}
#phone{
    list-style-image: url("https://img.icons8.com/windows/16/A6ACCD/phone.png");
}
#github{
    list-style-image: url("https://img.icons8.com/windows/16/A6ACCD/github.png");
}
#facebook{
    list-style-image: url("https://img.icons8.com/windows/16/A6ACCD/facebook.png");
}
#linkedin{
    list-style-image: url("https://img.icons8.com/windows/16/A6ACCD/linkedin.png");
}  */
