section, fieldset {
background-color: var(--section-bg);
animation: clarity 1s forwards;
animation-delay: 1s;
color: red; 
}
@media print{

     /* DEV  */
    body {
        background-color: gray;
    }
    
}

#resume{
        /* 2023oct3 padding simulates the print margin, padding will be removed on print so that the printer will have it's own margin 0.25 inch is a safe margin*/
        padding: 0.25in; 

        
}
/********************************
* *DEV 
*********************************/
/* to be removed in production
/* this animation is made for dev only. remove in production*/
@keyframes clarity {
    from{
        background-color: var(--section-bg);
    }
    to{
        background-color: white;
    }
} 

@keyframes fade-in {
    from{
        opacity: 0;
        transform: translateY( -10px );
    }
    to {
        opacity: 1;
        transform: translateY( 0px );
    }
}