:root{
    --initial-overlay-width: 0;
    --initial-overlay-heigth: 100%;
    --overlay-width: 50%;
    --overlay-heigth: 100%;
    --overlay-bg-color:rgba(0,0,0, 0.3);
    --overlay-font-color: var(--font-color);
}

#overlaybutton {
    position: fixed;
    display: inline-block;
    border: none;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    user-select: none;
    border-radius: 20vmax;
    bottom: 2vh;
    right: -12vmax;
    padding: 1vmax;
    padding-right: 12vmax;
    /* min-height: 40fr; */
    transition: right 0.3s, padding-right 0.3s;
    z-index: 1;
}
button svg{
    transform: rotate(180deg);
    transition: transform 0.4s;
}

#overlaybutton:hover{
    right: -10vmax;
}

/* #overlaybutton:active{
    opacity: 0.85;
	-webkit-box-shadow: 2em 2em 2em 0 rgba(0,0,0,0.2) ;
	box-shadow: 2em 2em 2em 0 rgba(0,0,0,0.2) ;
} */

#overlaybutton[aria-pressed="true"]{
    
    right: 1vmax;
    padding-right: 1vmax;
    
    
}
button[aria-pressed="true"] svg{
    transform: rotate(0deg);
}
#overlay {
    height: var(--initial-overlay-heigth);
    width: var(--initial-overlay-width);
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.7);
    color: var(--overlay-font-color);
    overflow: hidden;
    transition: 0.5s;
  }


/********************************
* *media querries
*********************************/

@media only screen and (min-width: 992px) {

    /* to make the button circular don't ask me, why it works i don't know */
    #overlaybutton{
        font-size: 0%;
    } 

}

@media only screen and (max-width: 475px) {
    :root{
    --initial-overlay-width: 0;
    --initial-overlay-heigth: 60%;
    --overlay-width: 100%;
    --overlay-heigth: 60%;
    }
}
