@media print{
    #resume {
        width: auto;
        /* height: 100vh; */
        /* i don't know if i should remove the padding or not (2023 upade use padding to simulate print margins, so yes remove it)*/ 

        overflow: hidden;
        margin: 0;
        padding: 0 ;
    }

    .hide-on-print {
        display: none;
    }

    .display-on-website {
        display: block;
    }

    .display-on-mobile {
        display: none
    }

    /* let's experement by making the padding 0 and the margin 0.5inch */

}

@page {
    /* don't know i shoud have this */
    /* margin: 0; */
    margin: clamp(0.25in, 0.25in , 0.5in);
    /* this removes the page size option from chrome    */
    /* size: Letter; */
    /* scale: None; */
    -webkit-print-color-adjust: exact !important;
}