@media print{
body {
    background-color: var(--bg)
}
#resume{
    width: auto;
}
.hide-on-print {
    display: none;
}}

 /* @page {
     margin: 0; 
 /* this removes the page size option from chrome   
    size: A4;
   
}  */
