/********************************
* *setup
*********************************/
:root {
    /* --bg: #1b1e2b;
    --section-bg: #292D3E;
    --accent: #f07178;
    --dark-font-color: #8c92b3;
    --font-color: #A6ACCD;
    --section-font-color: #c8cde7;
    --link-color: #6d9deb;
    --font-family: Calibri; */
    --bg: white;
    --section-bg: #e5e5e5;
    --accent: #427aa9;
    --dark-font-color: black;
    --font-color: #757575;
    --section-font-color: black;
    --link-color: #23c458;
    --big-name: steelblue;
    --body-background-color: #e5e5e5;
    --body-shadow-alpha: 0.2;
    --frame-color: lightsteelblue;

    --font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    --website-start-size: 992px;
    --mobile-start-size: 350px;

}


/********************************
* *resume
*********************************/

#resume {
    background-color: var(--bg);
    color: var(--dark-font-color);


    /* width of A4 */
    /* width: 210mm; */
    /* height of letter */
    /* height: 279.4mm; */
    /* convert 210mm --> 793.7px */
    /* convert 279.4mm --> 1056px */
    width: 210mm;
    /* height: 279.4mm; */
    max-width: 100%;
    /* i've added those custome dimmension to chrome and firefox because of this problem ⫷#resume is not body so when you make media querry engage on size of body and not size of #resume⫸*/
    /* overflow: hidden; */

    font-family: var(--font-family);
    padding: 4%;
}

@keyframes fade-in {
    from {
        opacity: 0.1;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;

        transform: translateY(0px);
    }
}

/********************************
* *header
*********************************/
#header-container {
    margin-bottom: 6px;
}

#resume-header {
    display: flex;
    flex-wrap: wrap;
    /* picture in the center after wrap */
    justify-content: center;
    font-weight: 700;
}

#profile-pic-frame {
    height: 8em;
    width: 8em;
    background-color: var(--frame-color);
    clip-path: polygon(29.289322% 0%, 70.710672% 0%, 100% 29.289322%, 100% 70.710672%, 70.710672% 100%, 29.289322% 100%, 0% 70.710672%, 0% 29.289322%);
    display: grid;
    place-content: center;


}

#profile-pic {
    height: 7em;
    width: 7em;
    /* aspect-ratio: 1/1; */
    object-fit: cover;

    /* try commenting this */
    /* clip-path: circle(); */
    /* hexagon */
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 43.30127%, 75% 86.60254%, 25% 86.60254%, 0% 43.30127%); */
    /* octagon */
    clip-path: polygon(29.289322% 0%, 70.710672% 0%, 100% 29.289322%, 100% 70.710672%, 70.710672% 100%, 29.289322% 100%, 0% 70.710672%, 0% 29.289322%);
}

#info {
    margin: auto;
    text-align: center;
    display: grid;
}

#name {
    color: var(--big-name);
    font-family: "Helvetica Neue";
    font-size: 32px;
    margin: 0px ;
}

#job-title,
#contacts {
    color: var(--font-color);
    font-family: "Helvetica Neue";
    margin: 5px;
}

#job-title {
    font-size: 17px;
    color: var(--font-color);
}

#contacts {
    font-size: 14px;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
    font-weight: 600;
    list-style-type: none;
    justify-content: center;
    align-items: baseline;
}

ul {
    list-style-position: inside;
    list-style-type: none;
}



img {
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration-line: none;
    font-size: 100%;
}

a:hover {
    color: var(--link-color);
}

svg {
    overflow: visible;
    width: 17px;
    height: 17px;
    fill: currentColor;
    vertical-align: bottom;
}

.show-on-website {
    display: none;
}

.show-on-mobile {
    display: none;
}

.show-now {
    display: contents;
}

/********************************
* *body
*********************************/

.resume-body {
    /* there might be more than one resume body, more than one page but only one resume header that's why its a class */
    /* maybe the resume is display grid and  header and body are it's only two components  */
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 3fr));
    grid-template-areas:
        "education education"
        "exp exp"
        "skills skills"
        "projects projects"
        "aw aw"
        "courses courses";
        
    /* grid-template-columns: repeat( auto-fit, minmax()); */

}

#EDUCATION {
    grid-area: education;
}

#projects {
    grid-area: projects
}

#skills {
    grid-area: skills
}

#EXPERIENCE {
    grid-area: exp
}

#AWARDS {
    grid-area: aw
}

#COURSES {
    grid-area: courses;
}

section,
.fieldset {
    /* when */
    position: relative;
    color: var(--section-font-color);
    /* width: fit-content; */
    height: fit-content;
    /* for firefox */
    /* width: -moz-fit-content; */
    height: -moz-fit-content;
    /* padding: 5px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.skill-section {
    padding: 0;
    margin: 3px
}

/* .fieldset {
    /* padding-top: 1.4rem; 
    /* \\border-top: 2px solid black; 
} */
.legend:first-of-type{
    margin-top: 3px;
}
.legend {
    padding: 0 5px;
    position: relative;
    /* margin-left:2em; */
    /* margin:auto; */
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
    /* font-size: 90%; */
}

hr{
    border-top: 1.5px solid black;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 3px;
    z-index: 1;
}

/* .legend::before {
        width: -webkit-fill-available;
    height: 2px;
    content: " ";
    position: absolute;
    background-color: black;
    left: 0;
    bottom: 3px;
} */

span.pl-2px {
    /*  there is a weired margin after the text in legend. the text doesn't look in the center*/
    position: relative;
    padding: 0px 5px 2px 8px;
    font-size: 1.4rem;
    background-color: white;
    z-index: 2;

}

/* legend::before, legend::after{
            /* this is for the little shits at the inner ends of the border 
            position: absolute;
            content: '';
            height: 8px;
            border-left: 1px solid gray;
            top: 3.5px;
        }
        legend::before{
            left: 0px;
        }
        legend::after {
            right: 0px;
        } */



.section-title {
    color: var(--dark-font-color);
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    letter-spacing: 0.3ch;
}


.event-container {
    /* width: fit-content; */
    display: grid;
    grid-template-columns: fit-content 1fr;
    grid-template-rows: 1fr 1fr 1fr fit-content;
    grid-template-areas:
        "spacetime spacetime"
        "nc nc"
        "description description";
    gap: 3px;
    align-items: baseline;
    line-height: 1.15;
}

.event-container:not(:last-child) {
    margin-bottom: 10px;
}

.event-namecontext {
    grid-area: nc;
}

.event-description {
    grid-area: description;
}

.event-spacetime {
    grid-area: spacetime;

}

.event-spacetime {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
    /* align-items: center; */
    justify-content: space-between;
}

/* .event-spacetime > *{
        flex-grow: 1;
    } */
/* .event-name, .event-context, .event-location{
        font-family: Merriweather, 'Times New Roman', Times, serif;
    } */
.event-namecontext {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 15px;
    row-gap: 5px;
}

.event-name {
    display: inline-block;
    font-weight: 800;
    color: var(--accent)
}

.event-context {
    /* font-size: 1.3rem; */
    /* padding-top: 10px; */
    font-weight: 700;
    font-size: larger;
}

.job-specification {
    font-size: 10px;
    font-style: italic;
}

.event-date {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bold;

}

.event-date-sameline {
    flex-grow: 1;
    text-align: end;
}

/* .event-location {
        /* margin-left: 7px; 
    } */
/*#EDUCATION{
        /* display: flex;
        flex-direction: column; 
        /* gap: 5px; 
    }*/

#project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(190px, 90%), 1fr));
    grid-template-rows: repeat(fit-content);
    grid-auto-flow: dense;
    gap: 5px;
}

.project-title,
.bullets-title {
    font-size: 1.05rem;
    color: var(--accent);
    font-weight: bold;
    text-align: start;
    margin-bottom: 3px;
    padding-right: 5px;
}

#projects p {
    text-justify: auto;
    /* text-align: justify; */
}

/* 
    #skills{

    } */
.skill-section div span::before {
content: "- ";
}
section .bullet-points {
    display: inline-flex;
    align-items: baseline;
    flex-direction: row;
    /* gap: 3px; */
    column-gap: 3px;
    flex-wrap: wrap;
}

.bullet-points li::before {
    content: "- ";
    /* content: "◈ "; */
    /* content: " | "; */
    /* color: #e5e5e5; */
}

.bullets-title {
    display: inline;
}


.courses-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* .courses-grid section {
    /* flex: 1 1 150px;
} */

#COURSES ul {
    /* list-style-type: none; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: "- ";
    /* list-style-type: disc; */
    /* list-style-type: ","; */
    word-wrap: break-word;
    column-gap: 3px;
}
/* #COURSES ul li::marker {
    content: ;
    margin-right: 0;
    
} */

#COURSES span span::before {
    content: " ";   
}

.preview-on-website {
    display: none;
}

.display-on-website {
    display: none
}

.display-on-mobile {
    display: block
}

b {
    font-weight: bold
}

.bullet-separator:not(:first-of-type) {
    margin-left: 10px;
}

.foot-note {
    position: absolute;
    bottom: 100%;
    width: 100%;
    font-size: x-small;
    color: gray;
    text-align: end
}