/********************************
* *setup
*********************************/
:root {
    /* --bg: #1b1e2b;
    --section-bg: #292D3E;
    --accent: #f07178;
    --dark-font-color: #8c92b3;
    --font-color: #A6ACCD;
    --section-font-color: #c8cde7;
    --link-color: #6d9deb;
    --font-family: Calibri; */
    --bg: white;
    --section-bg: #e5e5e5;
    --accent: tomato;
    --dark-font-color: black;
    --font-color: #656565;
    --section-font-color: black;
    --link-color: #5a95f5;
    --big-name: black;
    --body-background-color: #e5e5e5;
    --body-shadow-alpha: 0.2;

    --font-family: Calibri;
    font-size: 14px;
    --website-start-size: 992px;
    --mobile-start-size: 350px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/********************************
* *resume
*********************************/

#resume {
    background-color: var(--bg);
    color: var(--dark-font-color);
    margin: auto;
    padding: 20px;
    /* width of A4 */
    /* width: 210mm; */
    /* height of letter */
    /* height: 279.4mm; */
    /* convert 210mm --> 793.7px */
    /* convert 279.4mm --> 1056px */
    width: 210mm;
    height: 279.4mm;
    /* i've added those custome dimmension to chrome and firefox because of this problem ⫷#resume is not body so when you make media querry engage on size of body and not size of #resume⫸*/
    overflow: auto;
    font-family: var(--font-family);
}

/********************************
* *header
*********************************/
#header-container {
    margin-bottom: 20px;
   }
   
#resume-header {
    display: flex;
    flex-wrap: wrap;
    /* picture in the center after wrap */
    justify-content: center;
    font-weight: 700;
}
    #profile-pic-frame {
        height: 8em;
        width: 8em;
        border-radius: 50%;
        background-color: gray;
        /* clip-path: polygon(31.08% 3.57%, 67.13% 1.78%, 97.32% 29.29%, 97.32% 68.03%, 69.82% 97.32%, 27.51% 97.32%, 2.68% 70.71%, 2.68% 29.29%);
        clip-path: polygon(29.289322% 0%, 70.710672% 0%, 100% 29.289322%, 100% 70.710672%, 70.710672% 100%, 29.289322% 100%, 0% 70.710672%, 0% 29.289322%); */
        clip-path: polygon(29.289322% 3%, 70.710672% 3%, 97% 29.289322%, 97% 70.710672%, 70.710672% 97%, 29.289322% 97%, 3% 70.710672%, 3% 29.289322%);
        display: grid;
        place-content: center;


    }    
        #profile-pic {
            height: 7em;
            width: 7em;
            /* aspect-ratio: 1/1; */
            object-fit: cover;
            
            /* try commenting this */
            /* clip-path: circle(); */
            /* hexagon */
            /* clip-path: polygon(25% 0%, 75% 0%, 100% 43.30127%, 75% 86.60254%, 25% 86.60254%, 0% 43.30127%); */
            /* octagon */
            clip-path: polygon(29.289322% 0%, 70.710672% 0%, 100% 29.289322%, 100% 70.710672%, 70.710672% 100%, 29.289322% 100%, 0% 70.710672%, 0% 29.289322%);
        }

    #info {
        margin: auto;
        text-align: center;
        display: grid;
    }

        #name {
            color: var(--big-name);
            font-family: "Helvetica Neue";
            font-size: 32px;
            margin: 7px 5px;
        }

        #job-title,
        #contacts {
            color: var(--font-color);
            font-family: Raleway;
            margin: 5px;
        }

        #job-title {
            font-size: 17px;
            color: var(--accent);
        }

        #contacts {
            font-size: 14px;
            display: flex;
            column-gap: 10px;
            row-gap: 10px;
            flex-wrap: wrap;
            font-weight: 600;
            list-style-type: none;
            justify-content: center;
        }

        ul {
            list-style-position: inside;
            list-style-type: none;
        }



        img {
            vertical-align: bottom;
        }

        a {
            color: inherit;
            text-decoration-line: none;
            font-size: 100%;
        }

        a:hover {
            color: var(--link-color);
        }

        svg {
            overflow: visible;
            width: 17px;
            height: 17px;
            fill: currentColor;
            vertical-align: bottom;
        }

.show-on-website {
    display: none;
}
.show-on-mobile {
    display: none;
}

/********************************
* *body
*********************************/

.resume-body {
    /* there might be more than one resume body, more than one page but only one resume header that's why its a class */
    /* maybe the resume is display grid and  header and body are it's only two components  */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: 
        "education  skills"
        "projects projects"
        ". ." ;

    /* grid-template-columns: repeat( auto-fit, minmax()); */
    
}
    #EDUCATION{
        grid-area: education;
    }
    #projects{
        grid-area: projects
    }
    #skills{
        grid-area: skills
    }


    /* .resume-body li::before {
        content: "● ";
        /* content: "| "; 
    } */


    section, fieldset {
        /* when */
        color: var(--section-font-color);
        /* width: fit-content; */
        height: fit-content;
        /* for firefox */
        /* width: -moz-fit-content; */
        height: -moz-fit-content;
        padding: 5px;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }

    fieldset{
        border-top: 2px solid black;
    }

        legend{
            padding: 0 5px;
            position: relative;
            margin-left:2em;
            /* margin:auto; */
            padding-bottom:0.5em;
            /* font-size: 90%; */
        }
        legend span.pl-2px{
            /*  there is a weired margin after the text in legend. the text doesn't look in the center*/
            padding-left: 2px;
        }
        /* legend::before, legend::after{
            /* this is for the little shits at the inner ends of the border 
            position: absolute;
            content: '';
            height: 8px;
            border-left: 1px solid gray;
            top: 3.5px;
        }
        legend::before{
            left: 0px;
        }
        legend::after {
            right: 0px;
        } */


    
    .section-title {
        color: var(--dark-font-color);
        font-family: "Helvetica Neue";
        text-transform: uppercase;
        letter-spacing: 0.3ch;
    }

    .event-name, .event-context, .event-location{
        font-family: Merriweather, 'Times New Roman', Times, serif;
    }
    .event-name {
        font-size: 1.2rem;
        /* padding-top: 10px; */
        display: inline-block;
        margin-top: 10px;
    }

    .event-context {
        font-weight: 500;
        margin-left: 7px;
    }

    .event-date {
        font: 100;
        font-family: "Open Sans" -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .event-location {
        margin-left: 7px;
        font-weight: 300;
    }
    #EDUCATION{
        /* display: flex;
        flex-direction: column; */
        /* gap: 5px; */
    }
        .edu-div{
            /* width: fit-content; */
            /* margin: auto; */
            margin: 5px 0px
        }
            .edu-div span{
                /* padding: 10px; */
                line-height: 1.5rem;
            }
    #projects{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;

    }
        .project-title, .bullets-title{
            font-size: 1.05rem;
            color: var(--accent);
            font-weight: bold;
            text-align: start;
            margin-bottom: 3px;
               
        }
    #skills{

    }
        section .bullet-points{
            display: flex;
            flex-direction: row;
            gap: 3px;    
            flex-wrap: wrap;
        }
        .bullet-points li::before {
            content: "● ";
            /* content: " | "; */
            color: #e5e5e5;
        }


.preview-on-website{
    display: none;
}

/********************************
* *media queries
*********************************/

/* change the margins as you want them to be. */
/* might use javascript */

@import "styles/printstyle.css" print;


@media only screen and (min-width: 793px) {
    body{
        background-color: var(--body-background-color);
    }
    #resume {
        /* width of A4 */
        /* width: 210mm; */
        /* height of letter */
        /* height: 279.4mm; */
        /* convert 210mm --> 793.7px */
        /* convert 279.4mm --> 1056px */
        /* width: 793.7px;
        height: 1056px;  */
        margin-top: 80px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, var(--body-shadow-alpha)), 0 6px 20px 0 rgba(0, 0, 0, var(--body-shadow-alpha));

    }
}

@media only screen and (max-width: 350px) {
    #contacts {
        flex-direction: column;
        align-items: center;
    }

    .show-on-mobile {
        display: contents;
    }
}

@media only screen and (min-width: 992px){
    .preview-on-website{
        display: contents;
    }
}

/* @page {
     margin: 0; 
/* this removes the page size option from chrome  
    size: A4;
} */


/********************************
* *fonts
*********************************/



