/********************************
* *setup
*********************************/
:root {
    --bg: #1b1e2b;
    --section-bg: #292D3E;
    --accent: #f07178;
    --font-color: #757CA1;
    --section-font-color: #A6ACCD;
    --link-color: #6d9deb;
    --font-family: Calibri;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/********************************
* *resume
*********************************/

#resume {
    background-color: var(--bg);
    color: var(--font-color);
    margin: auto;
    padding: 5px;
    /* comment width and height at the end */
    /* width of A4 */
    /* width: 210mm; */
    /* height of letter */
    /* height: 279.4mm; */
    overflow: auto;
    font-family: var(--font-family);
}

/********************************
* *header
*********************************/
#resume-header {
    display: flex;
    flex-wrap: wrap;
    /* picture in the center after wrap */
    justify-content: center;
    margin: 5px;
    padding: 5px;
    font-weight: 700;
}

#profile-pic {
    height: 10em;
    width: 10em;
    /* try commenting this */
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#info {
    margin: auto;
    text-align: center;
    display: grid;
}

#name {
    color: rgb(37, 170, 242);
    font-family: "Helvetica Neue";
    font-size: 32px;
    margin: 7px 5px;
}

#job-title,
#contacts {
    color: var(--section-font-color);
    font-family: Raleway;
    margin: 5px;
}

#job-title {
    font-size: 17px;
}

#contacts {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    font-weight: 600;
    list-style-type: none;
    justify-content: center;
}

ul {
    list-style-position: inside;
}

img {
    vertical-align: bottom;
}

a {
    color: inherit;
    text-decoration-line: none;
    font-size: 100%;
}

a:hover {
    color: var(--link-color);
}

svg {
    overflow: visible;
    width: 17px;
    height: 17px;
    fill: currentColor;
    vertical-align: bottom;
}

.show-later {
    display: none;
}

/********************************
* *body
*********************************/

.resume-body {
    /* there might be more than one resume body, more than one page but only one resume header that's why its a class */
    /* maybe the resume is display grid and  header and body are it's only two components  */
    display: grid;
    grid-gap: 5px;
    /* grid-template-columns: auto auto; */
    margin: 5px;
    padding: 5px;
}

section {
    background-color: var(--section-bg);
    color: #c8cde7;
    width: fit-content;
    /* for firefox */
    width: -moz-fit-content;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

section .section-title {
    color: var(--accent);
    font-family: "Helvetica Neue";

}

section .event-name {
    font-size: 1.2rem;
}

section .event-context {
    font-weight: 500;
}

section .event-date {
    font: 100;
}

section .event-location {
    font-weight: 300;
}

/********************************
* *media queries
*********************************/

/* change the margins as you want them to be. */
/* might use javascript */
@media print {
    body {
        background-color: var(--bg)
    }

    .print-hide {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    :root{
        font-size:1.4vw;
    }
    .resume-body{
        padding: 0.5vw;
    }
    section{
        padding: 0.5vw;
    }
    #resume-header{
        /* to take the whole width */
        justify-content: stretch;
        display: grid;
        /* to put the text right next to the picture */
        grid-template-columns: min-content auto;
        grid-template-areas:
        ". i"
        "p i"
        ". i";
    }

    #profile-pic {
        margin: 3vw;
        grid-area: p;
        width: 15vw;
        height: 15vw;
    }

    #info {
        /* margin on the left */
        margin: 0 0 0 0;
        grid-area: i;
        display: grid;
        grid-template-areas: "n c" "t c";
        /*left*/
        justify-items: start ;
    }

    #name {
        font-size: 3vw;
        grid-area: n;
        /* bottom */
        align-self: end;
    }

    #job-title {
        grid-area: t;
        font-size: 1.5vw;

    }

    #contacts {
        flex-direction: column;
        padding: 3vw;
        row-gap: 1vw;
        font-size: 1.3vw;
        grid-area: c;
        /* to the left */
        justify-self: end;
        /* to the top */
        justify-content: start;
        /* item to the end */
        align-items: flex-end;
    }
    #contacts > li, a{
        column-gap: 0.3vw;
        /* svg and text are rearranged */
        display: flex;
    }

    svg{
        height: 1.3vw;
        width: 1.3vw;
        /* svg are on the lift */
        order: 2;
    }
    .show-later {
        display: inline;
    }
}

@media only screen and (max-width: 345px) {
    #contacts {
        flex-direction: column;
        row-gap: 10px;
        align-items: center;
    }

    .show-later {
        display: inline;
    }
}

/* @page {
     margin: 0; 
/* this removes the page size option from chrome  
    size: A4;
} */


/********************************
* *fonts
*********************************/


/* latin */
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    src: local('Helvetica Neue Bold'), local('HelveticaNeue-Bold'), url(https://fonts.gstatic.com/l/font?kit=jAncgHBgCsv4eNLTaMECf8DQsNwAXgWTXm0&skey=ba59c4fdb0ab3b35&v=v9) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}